@(tasks: List[Task])

@main("Task Tracker") {
<div>
    <form action="@routes.PlayTutorialController.newTask()" method="post">
        <input type="text" name="taskName" placeholder="Add a new Task" required>
        <input type="submit" class="btn btn-success" value="Add">
    </form>
</div>
<div>
    <ul>
        @tasks.map { task =>
        <li>
            @task.name <button class="btn btn-danger" onclick="deleteTask ( @task.id) ;">Remove</button>
        </li>
        }
    </ul>
</div>
<script>
    function deleteTask ( id ) {
        var req = new XMLHttpRequest ( ) ;
        req.open ( "delete", "/tasks/" + id ) ;
        req.onload = function ( e ) {
            if ( req.status = 200 ) {
                document.location.reload ( true ) ;
            }
        } ;
        req.send ( ) ;

    }
    </script>
}